# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Logs
logs
*.log

# Environment
.env
.env.*

# Nix / direnv
.direnv
result

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
